.wrapper {
  display: flex;
  justify-content: center;
  padding: 0 15px; /* Add some padding to avoid edge-to-edge placement */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Box shadow only at the bottom */
  border-radius: 15px;
  margin: 140px 0 0 0; /* Margin only on the top */
  max-width: 1200px; /* Max width to keep it centered and responsive */
  width: 100%; /* Ensure it takes full width within the wrapper */
}



.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.textSection {
  flex: 1;
  padding-right: 40px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #666;
  margin-bottom: 10px;
  font-style: italic;
  text-transform: uppercase;
}

.description {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 20px;
  line-height: 1.6;
  opacity: 0.8; /* Slightly transparent for a modern look */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.description:hover {
  opacity: 1; /* Full opacity on hover */
  transform: translateY(-5px); /* Slight lift effect on hover */
}

.location, .contact {
  font-size: 1.1rem;
  color: #555;
  margin: 5px 0;
}

.imageSection {
  position: relative;
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.profilePic {
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.profilePic:hover {
  transform: scale(1.1);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
}
